#top {
  background-color: rgb(62, 68, 68);
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(29, 28, 28);
  color: white;
}

h1,
h2 {
  font-family: 'Indie Flower', cursive;
}

li {
  margin-bottom: 1.5rem;
}

#avatar {
  max-width: 250px;
}

img {
  max-width: 100%;
}

.backToTop {
  max-width: 50px;
  margin-bottom: 2rem;
}

#resultJS,
#resultCsharp,
#resultRuby,
#resultInvalid {
  display: none;
}