li {
  margin-bottom: 1.5rem;
}

#avatar {
  max-width: 250px;
}

img {
  max-width: 100%;
}

.backToTop {
  max-width: 50px;
}


#resultJS,
#resultCsharp,
#resultRuby,
#resultInvalid {
  display: none;
}